.container {
    background-color: #fff;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: none;
    /* min-height: 100vh; */
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.contentWrapper {
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    margin-top: 120px;
}

.loaderImage {
    margin-bottom: 30px;
    width: 100px;
    height: auto;
}

.title {
    font-family: "Plus Jakarta Sans", sans-serif;
    font-weight: 600;
    font-size: 32px;
    line-height: 1.4;
    margin: 0;
    color: #2181da;
}

.subtitle {
    color: #2181da;
    margin-top: 20px;
    font-family: "Plus Jakarta Sans", sans-serif;
    font-size: 19px;
    font-weight: 500;
    margin-bottom: 0;
}

@media (width <=991px) {
    .container {
        max-width: 991px;
    }

    .contentWrapper {
        margin-top: 100px;
    }
}

@media (width <=640px) {
    .container {
        max-width: 640px;
    }

    .contentWrapper {
        margin-top: 80px;
    }

    .loaderImage {
        width: 80px;
    }

    .title {
        font-size: 24px;
    }

    .subtitle {
        font-size: 16px;
    }
}

@media (max-height: 600px) {
    .contentWrapper {
        margin-top: 60px;
    }
}