.illustrationColumn {
  flex-direction: column;
  align-items: stretch;
  width: 62%;
  margin-left: 20px;
  line-height: normal;
  display: flex;
}

.illustrationContent {
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  display: flex;
}

.illustration {
  aspect-ratio: 0.94;
  object-fit: contain;
  object-position: center;
  width: 100%;
}

.pagination {
  justify-content: start;
  align-self: center;
  align-items: center;
  gap: 10px;
  margin-top: 97px;
  display: flex;
}

.paginationDotActive {
  background-color: #9acaf6;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: stretch;
  width: 9px;
  height: 9px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

.paginationDot {
  background-color: #d3e6f8;
  border-radius: 50%;
  flex-shrink: 0;
  align-self: stretch;
  width: 9px;
  height: 9px;
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
}

@media (width <= 991px) {
  .illustrationColumn {
    width: 100%;
  }

  .illustrationContent {
    max-width: 100%;
    margin-top: 40px;
  }

  .illustration {
    max-width: 100%;
  }

  .pagination {
    margin-top: 40px;
  }
}
