.logo {
  align-self: flex-start;
  width: 108px;
  height: 40px;
  margin: 62px 0 0 80px;
}

@media (width<=991px) {
  .logo {
    margin: 40px 0 0 40px;
  }
}

@media (width<=640px) {
  .logo {
    margin: 20px auto;
  }
}

.container {
  background-color: #fff;
  flex-direction: column;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  display: flex;
}

.content {
  flex-direction: column;
  align-items: center;
  gap: 28px;
  margin-top: 229px;
  display: flex;
}

@media (width<=991px) {
  .content {
    margin-top: 180px;
  }
}

@media (width<=640px) {
  .content {
    margin-top: 120px;
    padding: 0 20px;
  }
}

.textContent {
  text-align: center;
  flex-direction: column;
  align-items: center;
  gap: 16px;
  display: flex;
}

.title {
  color: #333;
  max-width: 407px;
  font-family: Plus Jakarta Sans;
  font-size: 36px;
  font-weight: 700;
  line-height: 140%;
}

@media (width<=991px) {
  .title {
    font-size: 32px;
  }
}

@media (width<=640px) {
  .title {
    font-size: 24px;
  }
}

.description {
  color: #708090;
  max-width: 407px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
}

@media (width<=991px) {
  .description {
    font-size: 14px;
  }
}

@media (width<=640px) {
  .description {
    font-size: 13px;
  }
}

.recordButton {
  cursor: pointer;
  color: #fff;
  background: linear-gradient(90deg, #9da6ae 0%, #708090 100%);
  border: none;
  border-radius: 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 14px 100px;
  font-family: Plus Jakarta Sans;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  box-shadow: 0 4px 8px #70809080;
}

@media (width<=640px) {
  .recordButton {
    padding: 12px 40px;
    font-size: 14px;
  }
}

.attempts {
  color: #708090;
  text-align: center;
  margin-top: 10px;
  font-family: Plus Jakarta Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 150%;
}
